@model HolidayManagement.Models.DashboardViewModels

@{
    ViewBag.Title = "Dashboard Index";
}


@*Task4*@
<div class="container">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#menu1">Users</a></li>
        <li><a data-toggle="tab" href="#menu2">Group Managment</a></li>
        <li><a data-toggle="tab" href="#menu3">My Calendar</a></li>
        <li><a data-toggle="tab" href="#menu4">Settings</a></li>
    </ul>
    @*  Views-> Dashboard->  Partial view-at kell letrehozni, template: Empty *@
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
           <h2>Welcome </h2>
         </div>
        <div id="menu1" class="tab-pane fade">
          @Html.Partial("_Users")
        </div>
        <div id="menu2" class="tab-pane fade">
            @Html.Partial("_GroupManagment")    
         </div>
        <div id="menu3" class="tab-pane fade">
            @Html.Partial("_MyCalendar")
         </div>
        <div id="menu4" class="tab-pane fade">
            @Html.Partial("_Settings")
        </div>
    </div>
</div>
<script type="text/javascript">
      InitializeDashboardModel(@Html.Raw(Json.Encode(Model)));
</script>

